// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a{
  font-size:16px;
  margin-left: 3%;
  margin-bottom: 10px;
}
.topa a{
  text-align: left;
  margin: 0 0 0 20%;
  line-height: 10px;
}
header a{
  margin: 0 auto;
  font-size: 18px;
}
input.btn{
  margin-bottom: 30px;
  padding: 10px;
}
.form-control{
  height: 40px;
}
h2{
  margin: 50px 0 30px 50%;
}
.field{
  display: inline;
  font: 1rem normal;
}
#user_remember_me{
  margin-left: 45%;
  width: 30px;
  font: 16px normal;
}
label{
  font:16px normal;
}
.card{
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #FFF;
  margin: 20px;
  position: relative;
}
.card-header{
  position: relative;
  height: 100px;
  padding: 30px 10px 10px 10px;
}
.card-header img{
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid #eee;
  // position: absolute;
  // top: 25%;
  // left:30px;
}

.title{
  display: inline-block;
  vertical-align:middle;
}

.card-header h1{
  margin: 0 0 10px 0;
  padding: 0;
  font-style: normal;
  font-size: 16px;
}
.card-header p{
  margin: 0;
  text-align: left;
}
.card-block{
  width: 100%;
  height: 100%;
}
.card-block p,img{
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.card-footer{
  padding: 10px;
  padding-bottom: 0px;
}
